In [1]:
import findspark
findspark.init()
import pyspark
import random
from pyspark.context import SparkContext
from pyspark.sql.session import SparkSession
sc = SparkContext(appName='local') 
spark = SparkSession(sc)

In [2]:
#In Spark, create a DataFrame df1 with a column x holding the values 0, …, 19 (hint: spark.range).
#Check the contents of your DataFrame with df1.show()

spark = SparkSession(sc)
df1=spark.range(20).toDF("x")
df1.show(5)

+---+
|  x|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
+---+
only showing top 5 rows

In [3]:
#Create a DataFrame df2 with the columns y holding the square root of x and z holding x * x
from pyspark.sql.functions import sqrt, expr, avg, col
df2 = df1.withColumn("y", expr("sqrt(x)")).withColumn("z", expr("x*x"))
df2.show(5)

+---+------------------+---+
|  x|                 y|  z|
+---+------------------+---+
|  0|               0.0|  0|
|  1|               1.0|  1|
|  2|1.4142135623730951|  4|
|  3|1.7320508075688772|  9|
|  4|               2.0| 16|
+---+------------------+---+
only showing top 5 rows

In [6]:
#For df2, find the average of z for the even and odd numbers (hint: “z % 2 = 0”)

df2.select("z").where(expr("z % 2 = 0")).select(avg("z")).toDF("Even").show()
df2.select("z").where(expr("z % 2 != 0")).select(avg("z")).toDF("Odd").show()


df2.select("z").where(expr("z % 2 = 0")).select(avg("z")).toDF("Even").withColumn("z", expr("z % 2 != 0")).select(avg("z")).toDF("Odd").show()

+-----+
| Even|
+-----+
|114.0|
+-----+

+-----+
|  Odd|
+-----+
|133.0|
+-----+

AnalysisException: "cannot resolve '`z`' given input columns: [Even]; line 1 pos 0;\n'Project [Even#142, NOT (('z % 2) = 0) AS z#144]\n+- AnalysisBarrier\n      +- Project [avg(z)#140 AS Even#142]\n         +- Aggregate [avg(z#12L) AS avg(z)#140]\n            +- Filter ((z#12L % cast(2 as bigint)) = cast(0 as bigint))\n               +- Project [z#12L]\n                  +- Project [x#2L, y#9, (x#2L * x#2L) AS z#12L]\n                     +- Project [x#2L, SQRT(cast(x#2L as double)) AS y#9]\n                        +- Project [id#0L AS x#2L]\n                           +- Range (0, 20, step=1, splits=Some(8))\n"

In [5]:
a = col("nosuchcolumn")   #Constructs a column referenced by the name "nosuchcolumn" but not associated to any dataframe
#b = df2["nosuchcolumn"]  #Error - Attempts to retrieve a column that does not exist in dataframe df2
#c = df2.select(a)        #Error - Selecting a column that does not exist in df2
d = df2.select(col("z"))  #Selects only the "z" column from the df2 dataframe
e = df2.select(col("z")).collect() #Returns all the elements from column z, of the dataframe as an array

In [6]:
#Load Batting.csv file
path = "C:/Udvikling/edu/BigData/003/Data/Batting.csv"
battingDF = spark.read.format("com.databricks.spark.csv").load(path, header="true",inferSchema='true')
battingDF.show(10)

+---------+------+-----+------+----+---+---+---+---+---+---+---+---+---+---+---+---+----+----+----+----+----+
| playerID|yearID|stint|teamID|lgID|  G| AB|  R|  H| 2B| 3B| HR|RBI| SB| CS| BB| SO| IBB| HBP|  SH|  SF|GIDP|
+---------+------+-----+------+----+---+---+---+---+---+---+---+---+---+---+---+---+----+----+----+----+----+
|abercda01|  1871|    1|   TRO|  NA|  1|  4|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|null|null|null|null|null|
| addybo01|  1871|    1|   RC1|  NA| 25|118| 30| 32|  6|  0|  0| 13|  8|  1|  4|  0|null|null|null|null|null|
|allisar01|  1871|    1|   CL1|  NA| 29|137| 28| 40|  4|  5|  0| 19|  3|  1|  2|  5|null|null|null|null|null|
|allisdo01|  1871|    1|   WS3|  NA| 27|133| 28| 44| 10|  2|  2| 27|  1|  1|  0|  2|null|null|null|null|null|
|ansonca01|  1871|    1|   RC1|  NA| 25|120| 29| 39| 11|  3|  0| 16|  6|  2|  2|  1|null|null|null|null|null|
|armstbo01|  1871|    1|   FW1|  NA| 12| 49|  9| 11|  2|  1|  0|  5|  0|  1|  0|  1|null|null|null|null|null|
|barkeal01|  1871|    1|   RC1|  NA|  1|  4|  0|  1|  0|  0|  0|  2|  0|  0|  1|  0|null|null|null|null|null|
|barnero01|  1871|    1|   BS1|  NA| 31|157| 66| 63| 10|  9|  0| 34| 11|  6| 13|  1|null|null|null|null|null|
|barrebi01|  1871|    1|   FW1|  NA|  1|  5|  1|  1|  1|  0|  0|  1|  0|  0|  0|  0|null|null|null|null|null|
|barrofr01|  1871|    1|   BS1|  NA| 18| 86| 13| 13|  2|  1|  0| 11|  1|  0|  0|  0|null|null|null|null|null|
+---------+------+-----+------+----+---+---+---+---+---+---+---+---+---+---+---+---+----+----+----+----+----+
only showing top 10 rows

In [7]:
#Find the number of runs for each year. 
battingDF.groupBy("yearId").sum("H").alias("runs").orderBy("yearId").show(10)

+------+------+
|yearId|sum(H)|
+------+------+
|  1871|  3101|
|  1872|  4487|
|  1873|  4923|
|  1874|  5226|
|  1875|  6812|
|  1876|  5338|
|  1877|  3705|
|  1878|  3539|
|  1879|  6171|
|  1880|  5946|
+------+------+
only showing top 10 rows

In [8]:
#Find the number of distinct R values in an exact way and in an approximated way with up to 5% error

errorLevel = 0.05
battingRDD = sc.parallelize(battingDF.select("R").collect(), 4)
print("Number of distinct R values in exact way {}".format(battingRDD.count()))
print("Number of distinct R values in approximated way {}".format(battingRDD.countApproxDistinct(errorLevel)))

Number of distinct R values in exact way 102816
Number of distinct R values in approximated way 175

In [105]:
#Find for each year, the maximum number of runs and the player(s) who did the runs.

#batting.select("yearId", "playerID", "H").distinct().groupBy("yearId").max("H").orderBy("yearId").show(300)
#batting.createOrReplaceTempView("battingView")
#spark.sql("select playerId, yearId, max(H) from battingView GROUP BY playerId, yearId, H order by yearId").show()

#battingDF.groupBy("playerId", "yearId").sum("H").orderBy("yearId").show(300)
 
#battingDF.select("playerId", "yearId", max("H")).where("yearId = '1871'").show()

#battingDF.groupBy("playerId", "yearId").sum("H").orderBy("yearId").show()

#battingDF.select("playerId", "yearId", max("H")).rdd.max()[2]

battingDF.createOrReplaceTempView("TEMP_DF")
#spark.sql("SELECT playerId, yearId, H FROM TEMP_DF groupBy playerId").collect()
spark.sql("SELECT playerId, yearId, H FROM TEMP_DF GROUP BY playerId, yearId, H").collect()

[Row(playerId='fleetfr01', yearId=1871, H=2),
 Row(playerId='kesslhe01', yearId=1874, H=17),
 Row(playerId='tippeji01', yearId=1874, H=60),
 Row(playerId='pikeli01', yearId=1875, H=108),
 Row(playerId='thompan01', yearId=1875, H=4),
 Row(playerId='whitede01', yearId=1875, H=136),
 Row(playerId='clappjo01', yearId=1879, H=77),
 Row(playerId='hankifr01', yearId=1881, H=62),
 Row(playerId='wiedmst01', yearId=1881, H=12),
 Row(playerId='harbibi01', yearId=1882, H=23),
 Row(playerId='mcginju01', yearId=1883, H=36),
 Row(playerId='roweda01', yearId=1883, H=80),
 Row(playerId='wheelha01', yearId=1884, H=36),
 Row(playerId='gerhajo01', yearId=1885, H=62),
 Row(playerId='hanlone01', yearId=1885, H=128),
 Row(playerId='mccorji01', yearId=1885, H=23),
 Row(playerId='tenerjo01', yearId=1885, H=0),
 Row(playerId='recciph01', yearId=1886, H=4),
 Row(playerId='zimmech01', yearId=1886, H=3),
 Row(playerId='getzich01', yearId=1887, H=29),
 Row(playerId='irwinjo01', yearId=1887, H=11),
 Row(playerId='kirbyjo01', yearId=1887, H=3),
 Row(playerId='burnsoy01', yearId=1888, H=58),
 Row(playerId='hudsona01', yearId=1889, H=13),
 Row(playerId='knausfr01', yearId=1890, H=24),
 Row(playerId='nashbi01', yearId=1890, H=130),
 Row(playerId='ryanja01', yearId=1890, H=73),
 Row(playerId='twitcla01', yearId=1890, H=38),
 Row(playerId='baldwma01', yearId=1891, H=27),
 Row(playerId='cleveel01', yearId=1891, H=7),
 Row(playerId='dukema01', yearId=1891, H=1),
 Row(playerId='ryanja01', yearId=1891, H=57),
 Row(playerId='collihu01', yearId=1892, H=26),
 Row(playerId='seeryem01', yearId=1892, H=31),
 Row(playerId='mcmahsa01', yearId=1893, H=36),
 Row(playerId='virtuja01', yearId=1893, H=100),
 Row(playerId='clarkbo02', yearId=1895, H=70),
 Row(playerId='brownto01', yearId=1896, H=128),
 Row(playerId='reitzhe01', yearId=1897, H=138),
 Row(playerId='schreos01', yearId=1897, H=0),
 Row(playerId='wriglze01', yearId=1897, H=110),
 Row(playerId='dahlebi01', yearId=1900, H=125),
 Row(playerId='gertelo01', yearId=1901, H=1),
 Row(playerId='hartsto01', yearId=1901, H=187),
 Row(playerId='klingjo01', yearId=1901, H=70),
 Row(playerId='scheifr01', yearId=1901, H=70),
 Row(playerId='malonbi01', yearId=1902, H=23),
 Row(playerId='parenfr01', yearId=1902, H=156),
 Row(playerId='barclge01', yearId=1904, H=21),
 Row(playerId='hessot01', yearId=1904, H=12),
 Row(playerId='streega01', yearId=1905, H=2),
 Row(playerId='birmijo01', yearId=1906, H=11),
 Row(playerId='coaklan01', yearId=1906, H=7),
 Row(playerId='jonesfi01', yearId=1906, H=114),
 Row(playerId='malonbi01', yearId=1906, H=125),
 Row(playerId='kleinre01', yearId=1907, H=71),
 Row(playerId='bayha01', yearId=1908, H=0),
 Row(playerId='bergebi01', yearId=1908, H=53),
 Row(playerId='mclaura01', yearId=1908, H=5),
 Row(playerId='atzja01', yearId=1909, H=90),
 Row(playerId='marquru01', yearId=1909, H=8),
 Row(playerId='davisha01', yearId=1910, H=122),
 Row(playerId='evansst01', yearId=1910, H=122),
 Row(playerId='hinridu01', yearId=1910, H=0),
 Row(playerId='kleinre01', yearId=1910, H=5),
 Row(playerId='moranpa01', yearId=1910, H=47),
 Row(playerId='pfeffbi01', yearId=1910, H=3),
 Row(playerId='weaveor01', yearId=1910, H=2),
 Row(playerId='paynefr01', yearId=1911, H=27),
 Row(playerId='tennefr02', yearId=1911, H=97),
 Row(playerId='lamlifr01', yearId=1912, H=0),
 Row(playerId='collira01', yearId=1913, H=12),
 Row(playerId='mageele01', yearId=1913, H=142),
 Row(playerId='rixeyep01', yearId=1913, H=9),
 Row(playerId='jaspehi01', yearId=1914, H=0),
 Row(playerId='leibone01', yearId=1914, H=106),
 Row(playerId='mckeere01', yearId=1914, H=12),
 Row(playerId='schaege01', yearId=1914, H=7),
 Row(playerId='yerkest02', yearId=1914, H=48),
 Row(playerId='zeidero01', yearId=1914, H=124),
 Row(playerId='wagneho01', yearId=1915, H=155),
 Row(playerId='shawkbo01', yearId=1916, H=17),
 Row(playerId='zeidero01', yearId=1916, H=81),
 Row(playerId='buckega01', yearId=1918, H=0),
 Row(playerId='curryji01', yearId=1918, H=5),
 Row(playerId='flackma01', yearId=1918, H=123),
 Row(playerId='marsaar01', yearId=1918, H=29),
 Row(playerId='oldriru01', yearId=1918, H=31),
 Row(playerId='ayersdo01', yearId=1919, H=5),
 Row(playerId='bairddo01', yearId=1919, H=11),
 Row(playerId='hickmji01', yearId=1919, H=20),
 Row(playerId='janvrha01', yearId=1919, H=37),
 Row(playerId='toneyfr01', yearId=1919, H=15),
 Row(playerId='ellerfr01', yearId=1920, H=98),
 Row(playerId='cruiswa01', yearId=1921, H=119),
 Row(playerId='cunnibi02', yearId=1922, H=75),
 Row(playerId='fournja01', yearId=1922, H=119),
 Row(playerId='lynchwa01', yearId=1922, H=1),
 Row(playerId='manushe01', yearId=1923, H=103),
 Row(playerId='wambsbi01', yearId=1923, H=100),
 Row(playerId='zachato01', yearId=1923, H=15),
 Row(playerId='crumpbu01', yearId=1924, H=0),
 Row(playerId='anderbi01', yearId=1925, H=0),
 Row(playerId='cvengmi01', yearId=1925, H=5),
 Row(playerId='ogdencu01', yearId=1925, H=3),
 Row(playerId='mcbeepr01', yearId=1926, H=0),
 Row(playerId='willski01', yearId=1927, H=1),
 Row(playerId='coxge01', yearId=1928, H=2),
 Row(playerId='hofmafr01', yearId=1928, H=45),
 Row(playerId='mooreji01', yearId=1928, H=0),
 Row(playerId='moorera01', yearId=1928, H=13),
 Row(playerId='alexada01', yearId=1929, H=215),
 Row(playerId='coffmdi01', yearId=1929, H=0),
 Row(playerId='muellhe01', yearId=1929, H=19),
 Row(playerId='osborbo01', yearId=1929, H=1),
 Row(playerId='sigaffr01', yearId=1929, H=4),
 Row(playerId='hoytwa01', yearId=1930, H=9),
 Row(playerId='lisenho01', yearId=1930, H=20),
 Row(playerId='bushgu01', yearId=1931, H=7),
 Row(playerId='coonebo01', yearId=1931, H=5),
 Row(playerId='frankfr02', yearId=1931, H=6),
 Row(playerId='odoulle01', yearId=1931, H=172),
 Row(playerId='sweetle01', yearId=1931, H=15),
 Row(playerId='durocle01', yearId=1932, H=99),
 Row(playerId='freybe01', yearId=1932, H=0),
 Row(playerId='finnelo01', yearId=1933, H=64),
 Row(playerId='mungova01', yearId=1933, H=15),
 Row(playerId='spencro01', yearId=1933, H=46),
 Row(playerId='blaehge01', yearId=1934, H=7),
 Row(playerId='hopkima01', yearId=1934, H=3),
 Row(playerId='leslisa01', yearId=1934, H=181),
 Row(playerId='ofarrbo01', yearId=1934, H=15),
 Row(playerId='soltemo01', yearId=1934, H=109),
 Row(playerId='tinnibu01', yearId=1934, H=7),
 Row(playerId='colliph01', yearId=1935, H=0),
 Row(playerId='fischca01', yearId=1935, H=4),
 Row(playerId='moorete01', yearId=1935, H=131),
 Row(playerId='bejmaol01', yearId=1936, H=36),
 Row(playerId='millsle01', yearId=1937, H=0),
 Row(playerId='chrisma01', yearId=1938, H=79),
 Row(playerId='pearsmo01', yearId=1938, H=13),
 Row(playerId='cronijo01', yearId=1939, H=160),
 Row(playerId='daviscu01', yearId=1940, H=6),
 Row(playerId='dickmem01', yearId=1940, H=3),
 Row(playerId='mancugu01', yearId=1940, H=33),
 Row(playerId='pearsik01', yearId=1940, H=9),
 Row(playerId='selkige01', yearId=1940, H=102),
 Row(playerId='bloodji01', yearId=1941, H=124),
 Row(playerId='lohrmbi01', yearId=1941, H=11),
 Row(playerId='pottene01', yearId=1941, H=0),
 Row(playerId='hoagmy01', yearId=1942, H=99),
 Row(playerId='cramedo01', yearId=1944, H=169),
 Row(playerId='kleinha01', yearId=1944, H=2),
 Row(playerId='roserst01', yearId=1944, H=3),
 Row(playerId='whitejo01', yearId=1944, H=59),
 Row(playerId='crosefr01', yearId=1945, H=105),
 Row(playerId='drakela01', yearId=1945, H=0),
 Row(playerId='mcdonji03', yearId=1945, H=10),
 Row(playerId='carpebo01', yearId=1946, H=1),
 Row(playerId='johnssi01', yearId=1946, H=1),
 Row(playerId='reidea01', yearId=1946, H=0),
 Row(playerId='handlle01', yearId=1947, H=70),
 Row(playerId='hartucl01', yearId=1947, H=29),
 Row(playerId='robinaa01', yearId=1948, H=82),
 Row(playerId='berarjo01', yearId=1949, H=23),
 Row(playerId='lollash01', yearId=1949, H=74),
 Row(playerId='mccalwi01', yearId=1949, H=2),
 Row(playerId='roberro01', yearId=1949, H=5),
 Row(playerId='silveke01', yearId=1950, H=5),
 Row(playerId='lehnepa01', yearId=1951, H=15),
 Row(playerId='rosarbu01', yearId=1951, H=39),
 Row(playerId='careyan01', yearId=1952, H=6),
 Row(playerId='garvene01', yearId=1952, H=9),
 Row(playerId='overmst01', yearId=1952, H=2),
 Row(playerId='ridzist01', yearId=1952, H=3),
 Row(playerId='zuverge01', yearId=1952, H=0),
 Row(playerId='dropowa01', yearId=1953, H=150),
 Row(playerId='michaca01', yearId=1953, H=103),
 Row(playerId='lindejo01', yearId=1954, H=1),
 Row(playerId='perkoha01', yearId=1954, H=4),
 Row(playerId='breweto01', yearId=1955, H=11),
 Row(playerId='mcdougi01', yearId=1956, H=136),
 Row(playerId='robercu01', yearId=1956, H=11),
 Row(playerId='daniebe02', yearId=1957, H=0),
 Row(playerId='drysddo01', yearId=1957, H=9),
 Row(playerId='goodmbi01', yearId=1957, H=1),
 Row(playerId='landiji01', yearId=1957, H=58),
 Row(playerId='morgabo01', yearId=1957, H=88),
 Row(playerId='boyerke01', yearId=1958, H=175),
 Row(playerId='bressed01', yearId=1958, H=36),
 Row(playerId='drottdi01', yearId=1958, H=15),
 Row(playerId='meyerru01', yearId=1959, H=0),
 Row(playerId='podrejo01', yearId=1959, H=16),
 Row(playerId='scorehe01', yearId=1959, H=5),
 Row(playerId='asproke01', yearId=1960, H=133),
 Row(playerId='grantmu01', yearId=1960, H=16),
 Row(playerId='mcdanli01', yearId=1961, H=4),
 Row(playerId='schofdi01', yearId=1961, H=15),
 Row(playerId='coughma01', yearId=1962, H=4),
 Row(playerId='maclebi01', yearId=1962, H=0),
 Row(playerId='minosmi01', yearId=1962, H=19),
 Row(playerId='osborbo02', yearId=1962, H=17),
 Row(playerId='tothpa01', yearId=1962, H=2),
 Row(playerId='adcocjo01', yearId=1963, H=71),
 Row(playerId='koppejo01', yearId=1963, H=30),
 Row(playerId='olivato01', yearId=1963, H=3),
 Row(playerId='pagliji01', yearId=1963, H=58),
 Row(playerId='brandja01', yearId=1964, H=127),
 Row(playerId='brownla01', yearId=1965, H=111),
 Row(playerId='sprigge01', yearId=1965, H=1),
 Row(playerId='valenfr01', yearId=1965, H=7),
 Row(playerId='whitero01', yearId=1965, H=14),
 Row(playerId='saverbo01', yearId=1966, H=102),
 Row(playerId='schwado01', yearId=1966, H=1),
 Row(playerId='ramospe01', yearId=1967, H=0),
 Row(playerId='woodja01', yearId=1967, H=1),
 Row(playerId='brandbu01', yearId=1968, H=0),
 Row(playerId='daviswi02', yearId=1968, H=161),
 Row(playerId='jacksla01', yearId=1968, H=12),
 Row(playerId='brinked01', yearId=1969, H=153),
 Row(playerId='herrejo01', yearId=1969, H=36),
 Row(playerId='ortegph01', yearId=1969, H=0),
 Row(playerId='simpsdi01', yearId=1969, H=3),
 Row(playerId='youngdo01', yearId=1969, H=65),
 Row(playerId='burdabo01', yearId=1970, H=55),
 Row(playerId='freehbi01', yearId=1970, H=95),
 Row(playerId='johnsda02', yearId=1970, H=149),
 Row(playerId='lefebji01', yearId=1970, H=79),
 Row(playerId='ruizch01', yearId=1970, H=26),
 Row(playerId='torboje01', yearId=1970, H=31),
 Row(playerId='blairpa01', yearId=1971, H=135),
 Row(playerId='cainle01', yearId=1971, H=8),
 Row(playerId='coopece01', yearId=1971, H=13),
 Row(playerId='gibbojo01', yearId=1971, H=0),
 Row(playerId='kennejo03', yearId=1971, H=75),
 Row(playerId='pinaho01', yearId=1971, H=0),
 Row(playerId='tayloto02', yearId=1971, H=52),
 Row(playerId='brownos01', yearId=1972, H=37),
 Row(playerId='corkimi01', yearId=1972, H=9),
 Row(playerId='fairlro01', yearId=1972, H=124),
 Row(playerId='cashda01', yearId=1973, H=118),
 Row(playerId='gastoci01', yearId=1973, H=119),
 Row(playerId='matthga01', yearId=1973, H=162),
 Row(playerId='torremi01', yearId=1973, H=12),
 Row(playerId='willibi01', yearId=1973, H=166),
 Row(playerId='blankla01', yearId=1974, H=2),
 Row(playerId='garmami01', yearId=1974, H=1),
 Row(playerId='goggich01', yearId=1974, H=0),
 Row(playerId='rosedo01', yearId=1974, H=0),
 Row(playerId='seguidi01', yearId=1974, H=0),
 Row(playerId='harrebu01', yearId=1975, H=16),
 Row(playerId='hraboal01', yearId=1975, H=3),
 Row(playerId='lavelga01', yearId=1975, H=1),
 Row(playerId='mittege01', yearId=1975, H=44),
 Row(playerId='wernedo01', yearId=1975, H=1),
 Row(playerId='wohlfji01', yearId=1975, H=90),
 Row(playerId='dineeke01', yearId=1976, H=2),
 Row(playerId='harrebu01', yearId=1976, H=84),
 Row(playerId='mangupe01', yearId=1976, H=56),
 Row(playerId='armbred01', yearId=1977, H=20),
 Row(playerId='bacsimi01', yearId=1977, H=0),
 Row(playerId='cortba01', yearId=1977, H=0),
 Row(playerId='davisdi02', yearId=1977, H=14),
 Row(playerId='dawsoan01', yearId=1977, H=148),
 Row(playerId='huttoto01', yearId=1977, H=25),
 Row(playerId='sadecra01', yearId=1977, H=0),
 Row(playerId='caneijo01', yearId=1978, H=0),
 Row(playerId='fingero01', yearId=1978, H=2),
 Row(playerId='mccovwi01', yearId=1978, H=80),
 Row(playerId='hartzpa01', yearId=1979, H=0),
 Row(playerId='valenel01', yearId=1979, H=151),
 Row(playerId='davisma01', yearId=1980, H=1),
 Row(playerId='edlerda01', yearId=1980, H=20),
 Row(playerId='griffto02', yearId=1980, H=2),
 Row(playerId='otted01', yearId=1980, H=102),
 Row(playerId='pagemi02', yearId=1980, H=85),
 Row(playerId='willimi01', yearId=1980, H=0),
 Row(playerId='wynegbu01', yearId=1980, H=124),
 Row(playerId='garvije01', yearId=1981, H=0),
 Row(playerId='grichbo01', yearId=1981, H=107),
 Row(playerId='milleed04', yearId=1981, H=31),
 Row(playerId='mosebll01', yearId=1981, H=88),
 Row(playerId='squirmi01', yearId=1981, H=78),
 Row(playerId='stanlbo01', yearId=1981, H=0),
 Row(playerId='dempsma01', yearId=1982, H=0),
 Row(playerId='hargrmi01', yearId=1982, H=160),
 Row(playerId='mooreke01', yearId=1982, H=15),
 Row(playerId='ryalma01', yearId=1982, H=1),
 Row(playerId='suttodo01', yearId=1982, H=0),
 Row(playerId='gibsoki01', yearId=1983, H=91),
 Row(playerId='hallal02', yearId=1983, H=0),
 Row(playerId='mizerjo01', yearId=1983, H=13),
 Row(playerId='nettlgr01', yearId=1983, H=123),
 Row(playerId='augusje01', yearId=1984, H=0),
 Row(playerId='deshaji01', yearId=1984, H=0),
 Row(playerId='fernasi01', yearId=1984, H=5),
 Row(playerId='howelja01', yearId=1984, H=0),
 Row(playerId='nixonot01', yearId=1984, H=14),
 Row(playerId='stoneje01', yearId=1984, H=67),
 Row(playerId='wallide01', yearId=1984, H=70),
 Row(playerId='collida02', yearId=1985, H=95),
 Row(playerId='garneph01', yearId=1985, H=124),
 Row(playerId='mathiro01', yearId=1985, H=1),
 Row(playerId='perezpa01', yearId=1985, H=3),
 Row(playerId='ponceca01', yearId=1985, H=10),
 Row(playerId='sheetla01', yearId=1985, H=86),
 Row(playerId='draveda01', yearId=1986, H=7),
 Row(playerId='gerhake01', yearId=1986, H=16),
 Row(playerId='shirlbo01', yearId=1986, H=0),
 Row(playerId='welshch01', yearId=1986, H=5),
 Row(playerId='yettri01', yearId=1986, H=0),
 Row(playerId='ashbyal01', yearId=1987, H=111),
 Row(playerId='brownch02', yearId=1987, H=32),
 Row(playerId='clearma01', yearId=1987, H=0),
 Row(playerId='epparji01', yearId=1987, H=3),
 Row(playerId='gottji01', yearId=1987, H=0),
 Row(playerId='jacksda02', yearId=1987, H=0),
 Row(playerId='sheafda01', yearId=1987, H=8),
 Row(playerId='wilsogl01', yearId=1987, H=150),
 Row(playerId='davisst02', yearId=1988, H=0),
 Row(playerId='righeda01', yearId=1988, H=0),
 Row(playerId='birkbmi01', yearId=1989, H=0),
 Row(playerId='colemvi01', yearId=1989, H=143),
 Row(playerId='dipinfr01', yearId=1989, H=1),
 Row(playerId='dopsojo01', yearId=1989, H=0),
 Row(playerId='fletcsc01', yearId=1989, H=63),
 Row(playerId='barfije01', yearId=1990, H=117),
 Row(playerId='barfijo01', yearId=1990, H=0),
 Row(playerId='kinger01', yearId=1990, H=0),
 Row(playerId='lueckri01', yearId=1990, H=0),
 Row(playerId='parkecl01', yearId=1990, H=0),
 Row(playerId='pavlada01', yearId=1990, H=0),
 Row(playerId='rasmude01', yearId=1990, H=18),
 Row(playerId='templga01', yearId=1990, H=125),
 Row(playerId='ballaje01', yearId=1991, H=0),
 Row(playerId='carrema01', yearId=1991, H=66),
 Row(playerId='kieckda01', yearId=1991, H=0),
 Row(playerId='oberkke01', yearId=1991, H=16),
 Row(playerId='rodrica01', yearId=1991, H=7),
 Row(playerId='russejo02', yearId=1991, H=3),
 Row(playerId='wilkide01', yearId=1991, H=0),
 Row(playerId='aguilri01', yearId=1992, H=0),
 Row(playerId='bartosh01', yearId=1992, H=0),
 Row(playerId='jeffcmi01', yearId=1992, H=0),
 Row(playerId='jonesji02', yearId=1992, H=6),
 Row(playerId='lindjo01', yearId=1992, H=110),
 Row(playerId='millira01', yearId=1992, H=111),
 Row(playerId='simmsmi01', yearId=1992, H=6),
 Row(playerId='welchbo01', yearId=1992, H=0),
 Row(playerId='worreto01', yearId=1992, H=0),
 Row(playerId='austiji02', yearId=1993, H=0),
 Row(playerId='gubicma01', yearId=1993, H=0),
 Row(playerId='harnipe01', yearId=1993, H=7),
 Row(playerId='knudsma01', yearId=1993, H=0),
 Row(playerId='munozbo01', yearId=1993, H=0),
 Row(playerId='shinaza01', yearId=1993, H=0),
 Row(playerId='bellja01', yearId=1994, H=117),
 Row(playerId='mieskma01', yearId=1994, H=67),
 Row(playerId='oliveda02', yearId=1994, H=0),
 Row(playerId='sampebi01', yearId=1994, H=0),
 Row(playerId='pettian01', yearId=1995, H=0),
 Row(playerId='whitema02', yearId=1995, H=0),
 Row(playerId='carragi01', yearId=1996, H=0),
 Row(playerId='holtzmi01', yearId=1996, H=0),
 Row(playerId='madurca01', yearId=1996, H=0),
 Row(playerId='thompju02', yearId=1996, H=0),
 Row(playerId='vizcajo01', yearId=1996, H=110),
 Row(playerId='grosske01', yearId=1997, H=0),
 Row(playerId='hernali01', yearId=1997, H=5),
 Row(playerId='jacomja01', yearId=1997, H=0),
 Row(playerId='johnsbr01', yearId=1997, H=50),
 Row(playerId='karsast01', yearId=1997, H=0),
 Row(playerId='mcraebr01', yearId=1997, H=100),
 Row(playerId='montgst01', yearId=1997, H=0),
 Row(playerId='raggibr01', yearId=1997, H=0),
 Row(playerId='belchti01', yearId=1998, H=1),
 Row(playerId='cruzja01', yearId=1998, H=0),
 Row(playerId='grebecr01', yearId=1998, H=77),
 Row(playerId='husonje01', yearId=1998, H=8),
 Row(playerId='klassda01', yearId=1998, H=21),
 Row(playerId='olivejo01', yearId=1998, H=19),
 Row(playerId='sosasa01', yearId=1998, H=198),
 Row(playerId='washbja01', yearId=1998, H=0),
 Row(playerId='beltrri01', yearId=1999, H=1),
 Row(playerId='helliri01', yearId=1999, H=0),
 Row(playerId='luebbla01', yearId=1999, H=2),
 Row(playerId='reichda01', yearId=1999, H=1),
 Row(playerId='rodrihe02', yearId=1999, H=136),
 Row(playerId='stricsc01', yearId=1999, H=0),
 Row(playerId='bradlmi01', yearId=2000, H=34),
 Row(playerId='delgaca01', yearId=2000, H=196),
 Row(playerId='eusebto01', yearId=2000, H=61),
 Row(playerId='grievbe01', yearId=2000, H=166),
 Row(playerId='keislra01', yearId=2000, H=0),
 Row(playerId='petkoma01', yearId=2000, H=0),
 Row(playerId='baezbe01', yearId=2001, H=0),
 Row(playerId='kiescbr01', yearId=2001, H=10),
 Row(playerId='ohkato01', yearId=2001, H=0),
 Row(playerId='selbybi01', yearId=2001, H=21),
 Row(playerId='taylore01', yearId=2001, H=0),
 Row(playerId='wilkebr01', yearId=2001, H=24),
 Row(playerId='wrighja01', yearId=2001, H=13),
 Row(playerId='bocachi01', yearId=2002, H=14),
 Row(playerId='evereca01', yearId=2002, H=100),
 Row(playerId='menecfr01', yearId=2002, H=27),
 Row(playerId='stephga01', yearId=2002, H=0),
 Row(playerId='beltrca01', yearId=2003, H=160),
 Row(playerId='johnsga01', yearId=2003, H=3),
 Row(playerId='kieltbo01', yearId=2003, H=44),
 Row(playerId='ponsosi01', yearId=2003, H=0),
 Row(playerId='borkoda01', yearId=2004, H=0),
 Row(playerId='campsh01', yearId=2004, H=0),
 Row(playerId='contrjo01', yearId=2004, H=0),
 Row(playerId='embreal01', yearId=2004, H=0),
 Row(playerId='horgajo01', yearId=2004, H=1),
 Row(playerId='majewva01', yearId=2004, H=2),
 Row(playerId='redmomi01', yearId=2004, H=63),
 Row(playerId='vizcajo01', yearId=2004, H=98),
 Row(playerId='betanra01', yearId=2005, H=0),
 Row(playerId='chaveer01', yearId=2005, H=168),
 Row(playerId='derosma01', yearId=2005, H=36),
 Row(playerId='francjo01', yearId=2005, H=0),
 Row(playerId='kennejo04', yearId=2005, H=0),
 Row(playerId='kentje01', yearId=2005, H=160),
 Row(playerId='limajo01', yearId=2005, H=1),
 Row(playerId='snellia01', yearId=2005, H=0),
 Row(playerId='thomafr04', yearId=2005, H=23),
 Row(playerId='watsobr01', yearId=2005, H=7),
 Row(playerId='whiteel03', yearId=2005, H=3),

In [10]:
#sc.stop()