In [1]:
import findspark

findspark.init()

In [2]:
import pyspark

#create an instance for SparkContext
sc = pyspark.SparkContext()

In [3]:
from pyspark.sql import SQLContext

sqlContext = SQLContext(sc)

df = sqlContext.read.load('/Users/nguyen-ho/Desktop/Exercise/weather.csv', 
                          format='com.databricks.spark.csv', 
                          header='true',inferSchema='true')

In [19]:
df.describe().toPandas().transpose()

,0,1,2,3,4
summary,count,mean,stddev,min,max
number,1095,547.0,316.24357700987383,0,1094
air_pressure_9am,1092,918.8825513138094,3.184161180386833,907.9900000000024,929.3200000000012
air_temp_9am,1090,64.93300141287072,11.175514003175877,36.752000000000685,98.90599999999992
avg_wind_direction_9am,1091,142.2355107005759,69.13785928889189,15.500000000000046,343.4
avg_wind_speed_9am,1092,5.50828424225493,4.5528134655317185,0.69345139999974,23.554978199999763
max_wind_direction_9am,1092,148.95351796516923,67.23801294602953,28.89999999999991,312.19999999999993
max_wind_speed_9am,1091,7.019513529175272,5.598209170780958,1.1855782000000479,29.84077959999996
rain_accumulation_9am,1089,0.20307895225211126,1.5939521253574893,0.0,24.01999999999907
rain_duration_9am,1092,294.1080522756142,1598.0787786601481,0.0,17704.0
relative_humidity_9am,1095,34.24140205923536,25.472066802250055,6.090000000001012,92.6200000000002
relative_humidity_3pm,1095,35.34472714825898,22.524079453587273,5.3000000000006855,92.2500000000003

In [12]:
df.toPandas()['air_pressure_9am'].median()

918.9210452583593

In [16]:
df.toPandas()['air_pressure_9am'].mode()

0     913.49
1     914.80
2     915.20
3     916.18
4     917.01
5     917.10
6     917.40
7     917.40
8     917.60
9     917.80
10    918.30
11    918.60
12    918.71
13    918.80
14    921.34
15    921.65
16    923.60
17    925.30
dtype: float64

In [17]:
df.toPandas()['air_pressure_9am'].mean()

918.88255131380993

In [21]:
from pyspark.sql.functions import min, max, stddev, variance

df.select([min('air_pressure_9am'), max('air_pressure_9am')]).show()

+---------------------+---------------------+
|min(air_pressure_9am)|max(air_pressure_9am)|
+---------------------+---------------------+
|    907.9900000000024|    929.3200000000012|
+---------------------+---------------------+

In [22]:
df.select([stddev('air_pressure_9am')]).show()

+-----------------------------+
|stddev_samp(air_pressure_9am)|
+-----------------------------+
|            3.184161180386833|
+-----------------------------+

In [23]:
df.select([variance('air_pressure_9am')]).show()

+--------------------------+
|var_samp(air_pressure_9am)|
+--------------------------+
|         10.13888242268247|
+--------------------------+

In [26]:
from pyspark.sql.functions import skewness

df.select([skewness('air_pressure_9am')]).show()

+--------------------------+
|skewness(air_pressure_9am)|
+--------------------------+
|      -0.11582938251270822|
+--------------------------+

In [25]:
from pyspark.sql.functions import kurtosis

df.select([kurtosis('air_pressure_9am')]).show()

+--------------------------+
|kurtosis(air_pressure_9am)|
+--------------------------+
|      -0.11351128814100431|
+--------------------------+